#ctl00_mainContent_ctl01_lt_formZone_On_lineFormWithMailchimp_plcUp_viewBiz_ncpmostinterestedin,
.form h2,
.horizontal-group {
	display: none;
}
div#ctl00_mainContent_ctl01_lt_formZone_On_lineFormWithMailchimp_plcUp_viewBiz_ncpemail {
	overflow: hidden;
	input {
		width: 100%;
	}
}
