article#mmg-amelia-app-lp {
  * {
    box-sizing: border-box;
  }
  font-family: Raleway, sans-serif;
  width: 100%;
  .heading {
    line-height: 1;
    font-size: 42px;
    @extend .bold;
  }
  .subheading {
    font-size: 1.2em;
    line-height: 1.2;
    @include marding(0,0 8%)
  }
  .hero {
    background-image: url(../img/header-bgimg.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    #imagesequence2 {
      bottom: 3%;
      left: 40%;
      width: 60%;
    }
    #imagesequence3 {
      bottom: 39%;
      left: 44%;
      width: 45%;
    }
    .imagesequence {
      position: absolute;
      transform: translateX(-50%);
      img {
        height: auto;
        width: 100%;
      }
    }
  }

  .bottom-panel {
    @extend .hero;
    background-image: url(../img/footer-bgimg.jpg);
  }
  a.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    z-index: 199;
  }
  section {
    position: relative;
  }
  .section-content {
    z-index: 10;
    padding: 5% 30px;
    height: 100%;
    width: 100%;
    @include set-max-width(1125px);
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);
    &.rel {
      position: relative;
      left: unset;
      top: unset;
      transform: none;
    }
  }
  section > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: -5;
    video.background-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      @include translate(-50%, -50%);
    }
  }
  .form-grid {
    padding: 30px 0;
    max-width: 100%;
    h1 {
      color: $aqua;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 1.5em;
    }
    h1,
    .error-wrapper {
      grid-column: 1 / -1;
    }
    .field.guide-cbox {
      grid-column: 1/-1;
    }
    .form {
      max-width: 100%;
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .checkbox label span:before {
      font-family: $iconFamily;
    }
  }

  *:not(.checkbox) > {
    label {
        font-weight:500;
      background: white;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      width: auto;
      height: auto;
      overflow: visible;
      top: 50%;
      left: 0;
      padding: 0 15px;
    //   border-radius: 7px 7px 0 0;
      @include translateY(-50%);
      position: absolute;
      white-space: nowrap;
      text-transform: uppercase;
      transition: top 200ms ease-in, opacity 200ms ease-in;
      &.slide-up {
        opacity: 0;//slide up doesnt look right with the comp
        // top: -2px;
      }
      & + div {
        position: relative;
        z-index: 10;
      }
    }
  }
  section.fort-sequence {
    img.guide {
      position: relative;
      width: 89%;
      height: auto;
      margin: 40px 0 100px;
      transform: translate(-18%, 100px);
    }
    #ameliaFort {
      -webkit-filter: drop-shadow(0 23px 4px rgba(0, 0, 0, 0.35));
      filter: drop-shadow(0 23px 4px rgba(0, 0, 0, 0.35));
    }
    .section-content {
      z-index: 10;
    }
    .imagesequence {
      position: absolute;
      left: 74%;
      bottom: 10%;
      @include translate(-50%, -50%);
      width: 74%;
      img {
        height: auto;
        width: 100%;
      }
    }
    & > .video video.background-video {
      top: unset;
      min-width: unset;
      min-height: unset;
      left: 50%;
      bottom: 0px;
      height: 60%;
      opacity: 0.35;
      width: auto;
      &:nth-of-type(1) {
        left: 54%;
        transform: translateX(-100%);
      }
      &:nth-of-type(2) {
        left: 46%;
        transform: translateX(0);
      }
      // @include translateX(-50%)
    }
  }
  .form.full-wide.new-form,
  .instructions {
    @include set-max-width(750px);
    font-size: 0.8em;
    line-height: 1.25;
  }
  .field {
    @include marding;
    background: #fff;
    position: relative;
    display: block;
    input,
    select,
    textarea {
      background: transparent;
      font-size: 16px;
      &:focus {
        outline: 0;
      }
      border: none;
      padding: 15px;
      &[type="submit"] {
        background: $aqua;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .control-group-inline > span {
      height: 100%;
    }
    .select {
      display: block;
      padding: 0;
      &:after {
        @include flexx;
        vertical-align: middle;
        font-family: $iconFamily;
      }
    }
    &.submit-wrapper {
      background: $aqua;
    }
    .select > select,
    span div {
      display: block;
      height: 100%;
    }
    .input-row {
      @include flexx(flex-start);
      padding: 5px 15px;
    }
  }
  .app-cta {
    .section-content {
      padding: 10px 30px 20px;
    }
    h2 {
      font-size: 1.5em;
    }
    img {
      width: 121px;
      height: 36px;
    }
  }
  /////Media Queries///////
  @media (min-width: 768px) and(max-width: 959px) {
    .hero .space-bottom {
      padding-bottom: 65%;
    }
  }
  @media (max-width: 767px) {
    .section-content {
      padding-top: 50px;
    }
    section {
      .aspect-spacer,
      .space-bottom {
        padding-bottom: 115%;
      }
    }
    .heading {
      font-size: 36px;
    }
    .subheading {
      //   font-size: 1.2em;
    }
    .FormPanel,
    .instructions {
      padding: 0 30px;
    }
    .form-grid .form {
      grid-template-columns: 1fr 1fr;
    }
    .submit-wrapper {
      grid-column: 1 / -1;
    }
    .hero {
      min-height: 50vh;
    }
    .bottom-panel {
      min-height: 0;
    }
    .hero {
      #imagesequence2 {
        bottom: 10%;
        left: 40%;
      }

      #imagesequence3 {
        left: 45%;
        bottom: 45%;
      }
    }
  }
  @media (max-width: 479px) {
    section {
      &.fort-sequence .imagesequence {
        left: 60%;
        bottom: 4%;
        width: 60%;
      }
      .aspect-spacer,
      .space-bottom {
        padding-bottom: 650px;
      }
    }
    .heading {
      font-size: 26px;
    }
    .subheading {
    }
    .field:not(.submit-wrapper) {
      margin-bottom: 20px;
    }
    .form-grid .form {
      display: block;
    }
  }
}
