article#mmg-amelia-app-lp {
  * {
    box-sizing: border-box;
  }
  font-family: Raleway, sans-serif;
  width: 100%;
  .heading {
    line-height: 1;
    font-size: 42px;
    @extend .bold;
    max-width: 100%;
  }
  .subheading {
    max-width: 100%;
    font-size: 1.2em;
    line-height: 1.2;
    @include marding(0, 0 8%);
  }
  .hero {
    background-image: url(../img/header-bgimg-flat.jpg);
    position: relative;
    background-position: center bottom;
    background-size: cover;
    #imagesequence2 {
      //turtle
      bottom: 3%;
      left: 40%;
      //   width: 540px;
      width: 60%;
    }
    #imagesequence3 {
      //gulls
      bottom: 39%;
      left: 44%;
      //   width: 507px;
      width: 45%;
    }
    .imagesequence {
      position: absolute;
      transform: translateX(-50%);
      img {
        height: auto;
        width: 100%;
      }
    }
    .sequence-wrap {
      //not sure this is going to be used... its a  guide for better image positions
      border: 2px dotted red;
      width: 20%;
      margin: 30px auto 10%;
      > span {
        display: block;
        width: 100%;
        height: 0;
        padding-bottom: 205%;
      }
    }
  }

  .bottom-panel {
    @extend .hero;
    background-image: url(../img/footer-bgimg.jpg);
  }
  a.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    @include translateX(-50%);
    z-index: 199;
  }
  section {
    position: relative;
  }
  .section-content {
    overflow: hidden;
    z-index: 10;
    padding: 5% 30px;
    height: 100%;
    width: 100%;
    @include set-max-width(1125px);
    position: absolute;
    left: 50%;
    top: 50%;
    @include translate(-50%, -50%);
    &.rel {
      position: relative;
      left: auto;
      top: auto;
      transform: none;
    }
  }
  section > .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // z-index: -5;
    video.background-video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      @include translate(-50%, -50%);
      @include marding;
      border: none;
      outline: none;
      background: transparent;
      &:focus {
        outline: none;
      }
    }
  }
  .form-grid {
    padding: 30px 0;
    max-width: 100%;
    h1 {
      color: $aqua;
      text-transform: uppercase;
      text-align: center;
      font-weight: 500;
      font-size: 1.5em;
    }
    h1,
    .error-wrapper {
      -ms-grid-column: 1;
      -ms-grid-column-span: -1;
      grid-column: 1 / -1;
    }
    .field.guide-cbox {
      -ms-grid-column: 1;
      -ms-grid-column-span: -1;
      grid-column: 1/-1;
    }
    .form {
      max-width: 100%;
      display: -ms-grid;
      display: grid;
      grid-column-gap: 30px;
      grid-row-gap: 20px;
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .checkbox label span:before {
      font-family: $iconFamily;
    }
  }
  %full-width {
    float: none;
    display: block;
    width: 100%;
    //   @include flexchild(1, 0, 100%);
    //   min-width: 100%;
    max-width: 100%;
    clear: both;
  }
  $spacing: 15px;
  &.grid-disabled {
    .instructions {
      @extend %full-width;
    }
    .form {
      margin-top: -$spacing;
      margin-left: -$spacing;
      width: 100%;
      display: block;
      & > * {
        float: left;
        margin-top: $spacing;
        margin-left: $spacing;
        box-sizing: border-box;
        width: calc((99.5% / 3) - #{$spacing});
        max-width: calc((100% / 3) - #{$spacing});
      }
      //   @include flexx(flex-start, $wrap: wrap);
      //   @include flex-grid(3, 15px);
      h1 {
        @extend %full-width;
      }
      .list-cbox .checkbox {
        display: block;
      }
      .field {
        &.guide-cbox,
        &.list-cbox {
          @extend %full-width;
        }
        &.half-wide,
        &.one-fourth-wide {
          //   width: 33%;
          //   padding: 0;
        }
      }
    }
    .submit-wrapper {
      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }
  *:not(.checkbox) > {
    label {
      font-weight: 500;
      background: white;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      width: auto;
      height: auto;
      overflow: visible;
      top: 50%;
      left: 0;
      padding: 0 15px;
      //   border-radius: 7px 7px 0 0;
      @include translateY(-50%);
      position: absolute;
      white-space: nowrap;
      text-transform: uppercase;
      transition: top 200ms ease-in, opacity 200ms ease-in;
      &.slide-up {
        opacity: 0; //slide up doesnt look right with the comp
        // top: -2px;
      }
      & + div {
        position: relative;
        z-index: 10;
      }
    }
  }
  section.fort-sequence {
    img.guide {
      position: relative;
      width: 89%;
      min-width: 575px;
      height: auto;
      margin: 40px 0 50px;
      @include translate(-18%, 50px);
    }
    #ameliaFort {
      -webkit-filter: drop-shadow(0 23px 4px rgba(0, 0, 0, 0.35));
      filter: drop-shadow(0 23px 4px rgba(0, 0, 0, 0.35));
    }
    .section-content {
      overflow: visible;
      z-index: 10;
    }
    .imagesequence {
      position: absolute;
      left: 0;
      bottom: 10%;
      @include translate(35%, -50%);
      width: 74%;
      min-width: 393px;
      img {
        height: auto;
        width: 100%;
      }
    }
    & > .video video.background-video {
      top: auto;
      min-width: 1px;
      min-height: 1px;
      left: 50%;
      bottom: 0px;
      height: 60%;
      opacity: 0.35;
      width: auto;
      border: none;
      outline: none;
      background: transparent;
      &:focus {
        outline: none;
      }
      &:nth-of-type(1) {
        left: 54%;
        transform: translateX(-100%);
      }
      &:nth-of-type(2) {
        left: 46%;
        transform: translateX(0);
      }
      // @include translateX(-50%)
    }
  }
  .FormPanel,
  .instructions {
    @include set-max-width(750px);
    font-size: 0.8em;
    line-height: 1.25;
  }
  .field {
    @include marding;
    background: #fff;
    position: relative;
    display: inline-block;
    max-width: 100%;
    input,
    select,
    textarea {
      background: transparent;
      font-size: 16px;
      &:focus {
        outline: 0;
      }
      border: none;
      padding: 15px;
      &[type="submit"] {
        background: $aqua;
        width: 100%;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .control-group-inline > span {
      height: 100%;
    }
    .select {
      display: block;
      padding: 0;
      &:after {
        @include flexx;
        vertical-align: middle;
        font-family: $iconFamily;
      }
    }
    &.submit-wrapper {
      background: $aqua;
    }
    .select > select,
    span div {
      text-transform: capitalize;
      display: block;
      height: 100%;
    }
    .input-row {
      @include flexx(flex-start);
      padding: 5px 15px;
    }
  }
  .list-cbox {
    -ms-grid-column: 1;
    -ms-grid-column-span: -1;
    grid-column: 1 / -1;
    .checkbox {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: minmax(auto, 255px) minmax(auto, 255px);
      grid-template-columns: minmax(auto, 255px) minmax(auto, 255px);
      padding: 5px 15px 10px;
      label {
        font-weight: 500;
        @include flexchild(1, 1, 49.5%);
        span {
          position: relative;
          &:before {
            position: absolute;
            left: 0;
          }
        }
      }
    }
    h2 {
      // text-align:center;
      margin: 10px auto 0;
      padding: 0 15px;
      display: block;
    }
    br {
      display: none;
    }
  }
  .app-cta {
    .section-content {
      padding: 10px 30px 20px;
    }
    h2 {
      font-size: 1.5em;
    }
    img {
      width: 121px;
      height: 36px;
    }
  }
  /////Media Queries///////
  @media (max-width: 959px) {
    overflow: hidden;
  }
  @media (max-width: 620px) {
    .hero {
      background-position: 40% bottom;
    }
  }
  @media (min-width: 768px) and(max-width: 959px) {
    .hero .space-bottom {
      padding-bottom: 65%;
    }
  }
  @media (max-width: 767px) {
    &.grid-disabled .form {
      > * {
        width: calc((99.5% / 2) - #{$spacing});
        max-width: calc((100% / 2) - #{$spacing});
      }
      .submit-wrapper {
        width: 100%;
        max-width: 100%;
        float: none;
      }
    }
    .section-content {
      padding-top: 50px;
    }
    section {
      .aspect-spacer,
      .space-bottom {
        padding-bottom: 115%;
      }
    }
    .heading {
      font-size: 34px;
    }
    .subheading {
      font-size: 1.1em;
    }
    .FormPanel,
    .instructions {
      padding: 0 30px;
    }
    .form-grid .form {
      -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
    }
    .submit-wrapper {
      -ms-grid-column-align: 1;
      -ms-grid-column-span: -1;
      grid-column: 1 / -1;
    }
    .hero {
      min-height: 50vh;
    }
    .bottom-panel {
      min-height: 0;
    }
    .hero {
      #imagesequence2 {
        bottom: 10%;
        left: 40%;
        // width:441px;
      }

      #imagesequence3 {
        left: 45%;
        bottom: 45%;
        // width:414px;
      }
    }
  }
  @media (max-width: 479px) {
    &.grid-disabled .form > * {
      width: 100%;
      max-width: 100%;
    }
    .list-cbox .checkbox {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
    .hero {
      #imagesequence2 {
        width: 414px;
      }

      #imagesequence3 {
        width: 397px;
      }
    }
    section {
      &.fort-sequence .imagesequence {
        left: 0;
        @include translateX(21%);
        bottom: 18%;
        width: 60%;
      }
      .aspect-spacer,
      .space-bottom {
        padding-bottom: 650px;
      }
    }
    .heading {
      font-size: 22px;
    }
    .subheading {
      font-size: 1em;
    }
    .field:not(.submit-wrapper) {
      margin-bottom: 20px;
    }
    .form-grid .form {
      display: block;
    }
  }
}
