@import 'vars';
@import 'form-overrides';
@import 'mixins';
@import 'landing';
////////////////
.all-caps {
	text-transform: uppercase;
}
.center-text {
	text-align: center;
}
img.maxw {
	display: block;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.bgcolor {
	&.lt-gray {
		background: #efefef;
	}
	&.white {
		background: #fff;
	}
	&.gray {
		background: #444;
	}
	&.aqua {
		background: #3caeac;
	}
}
.color {
	&.white {
		color: #fff;
	}
	&.lt-gray {
		color: #efefef;
	}
	&.gray {
		color: #444;
	}
	&.aqua {
		color: #3caeac;
	}
}
.flex-col{@include flexx($direction:column)}
