@import "compass";
@import "vars";
@import "form-overrides";
@import "mixins";
@import "landing";
////////////////
.all-caps {
  text-transform: uppercase;
}
.center-text {
  text-align: center;
}
img.maxw {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.aspect-spacer {
      width: 100%;
      height: 0;
      padding: 0 0 57% 0;
      transition: padding-bottom 1s ease;
}
.bgcolor {
  &.lt-gray {
    background: $lt-gray;
  }
  &.white {
    background: #fff;
  }
  &.gray {
    background: $gray;
  }
  &.aqua {
    background:$aqua;
  }
}
.color {
  &.white {
    color: #fff;
  }
  &.lt-gray {
    color: $lt-gray;
  }
  &.gray {
    color: $gray;
  }
  &.aqua {
    color: $aqua;
  }
}
.flex-col {
  @include flexx($direction: column);
  &.start {
    @include flexx(flex-start, $direction: column);
  }
  &.end {
    @include flexx(flex-end, $direction: column);
  }
}
.flex-row {
  @include flexx();
  &.start,&.left {
    @include flexx(flex-start);
  }
  &.end,&.right {
    @include flexx(flex-end);
  }
}
